/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout container
 */
 .l-frame {

	margin: 0 auto;
	@media all and (min-width: $bp-med) {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    max-width: $l-max-width;
    position: relative;
  }
}
