/*------------------------------------*\
    #BODY
\*------------------------------------*/
// $min_width: 320px;
// $max_width: 2000px;
// $min_font: 16px;
// $max_font: 18px;

// html {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }

/**
 * Body base styles
 */
body {
	background: $color-white;
	color: $color-text;
	font: 100%/1.5 $font-primary;
	-webkit-text-size-adjust: 100%;
	font-weight: 300;
	letter-spacing: 0.05rem;
	p {
		font-weight: 400;
	}
}

